body{
    text-align: center;
    background: linear-gradient( #77c8e6 0%,#f55db1 100%);
}

img{
  width:100;
  height:100;
    border-radius: 50%;
    
}
#myname{
   font-family: 'Courgette', cursive;
}
#Favorite_food{
     padding:40px;
    text-align:center:
}
h1{
  
  font-size:18px;
}
p{
  font-size:18px;
  color:#32a852;
    
}
h2{
  font-size:20px;
  color:#fcba03;
}
.line{
    height: 6px;
    background-color: black;
    width:70px;
    margin:8px auto;
}

.menu{
   list-style: none;
    font-family:cursive;
   float:right;
    top:10px;
    right:30px;
    cursor: pointer;
    color:black;
}
.menu a{
    color:black;
}


.link{
    color:salmon;
    display: inline;
    padding-top:5px;
    padding-left:9px;
    padding-right:9px;
    padding-bottom: 5px;
}
   .link:hover{
    background-color:tomato;
}



#picture{
    width:auto;
    height:300px;
   border-radius:0%;
    
    margin:20px;
}
.food
{
  background: #4287f5;  
 background: linear-gradient( #fcba03, #2ba65c); 
padding-top:20px;
}

img {
transition: transform .2s;
border: 10px solid ;
}

img:hover {
    
    transform: scale(0.9);
}
